<!-- 메뉴 -->
<!-- TODO: 메뉴 설정 -->
<ul class="flex gap-2 font-medium">
  <li class="h-full flex-none">
    <a href="" class="flex h-full items-center px-3">법무법인 소개</a>
  </li>
  <li class="h-full flex-none">
    <a href="" class="flex h-full items-center px-3">업무분야</a>
  </li>
  <li class="h-full flex-none">
    <a href="" class="flex h-full items-center px-3">성공사례</a>
  </li>
  <li class="h-full flex-none">
    <a href="" class="flex h-full items-center px-3">대표변호사</a>
  </li>
  <li class="h-full flex-none">
    <a href="" class="flex h-full items-center px-3">고객센터 </a>
  </li>
</ul>
