<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title || '관리도구'%> | <%=company.name%></title>
    <link rel="preload" href="/fonts/Pretendard-Variable.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/tailwind.css?202502081" />
  </head>
  <body class="flex h-screen bg-gray-100 p-4 lg:flex-row lg:overflow-hidden dark:bg-gray-800">
    <main class="flex flex-1 flex-col"><%- body %></main>
  </body>
</html>
