<!-- 메인 배너 -->
<!-- TODO: 배너 이미지 가져오기 -->
<div class="h-[800px] w-full bg-violet-100 pt-[56px]">
  <div class="m-auto h-full w-full max-w-[1280px] px-[40px]">
    <div class="flex h-full flex-col items-center justify-center gap-8">
      <!-- TODO: 메인 문구 설정 -->
      <p class="mb-2 text-center">
        <span class="font-['Cinzel'] text-[48px]">
          <strong>Trusted Expertise, Proven Results.</strong>
        </span>
      </p>
      <p class="text-center text-xl font-medium">
        <span>사고와 상해로 인해 피해를 입은 분들을 위해</span>
        <br />
        <span>마땅히 보호받아야 할 권리를 찾도록 최선을 다하겠습니다.</span>
      </p>
      <button class="flex cursor-pointer items-center rounded-full bg-[#0c0c0c] px-6 py-3 text-[15px] text-white">
        <span>무료 상담하기</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="currentColor" class="ml-2 h-3 w-3">
          <path
            d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
          />
        </svg>
      </button>
    </div>
  </div>
</div>

<!-- 메인 콘텐츠 1 -->
<div class="h-screen w-full bg-amber-50">
  <div class="m-auto h-full w-full max-w-[1280px] px-[40px]"></div>
</div>
