<div class="relative h-[50vh] w-full pt-[56px] lg:h-[460px]">
  <!-- TODO: 배너 이미지 설정 -->
  <div class="bg- absolute inset-0 -z-10 h-full w-full bg-[url('/images/banner-qna.webp')] bg-cover bg-fixed bg-center">
    <div class="absolute inset-0 h-full w-full bg-black opacity-50"></div>
  </div>
  <div class="m-auto h-full w-full max-w-[1280px] px-10">
    <div class="flex h-full flex-col items-center justify-center gap-8 py-20">
      <!-- TODO: 배너 문구 설정 -->
      <p class="mb-2 text-center break-keep text-white">
        <span class="text-2xl lg:text-[48px]">
          <strong><%=routes.qna.title%></strong>
        </span>
      </p>
      <p class="text-center font-['Oswald'] text-base break-keep text-white lg:text-xl">
        <span>여러분의 궁금증을 해결해드리겠습니다</span>
      </p>
    </div>
  </div>
</div>
