<div class="relative h-[50vh] w-full pt-[56px] lg:h-[460px]">
  <!-- TODO: 배너 이미지 설정 -->
  <div
    class="bg- absolute inset-0 -z-10 h-full w-full bg-[url('/images/banner-results.webp')] bg-cover bg-fixed bg-center"
  >
    <div class="absolute inset-0 h-full w-full bg-black opacity-50"></div>
  </div>
  <div class="m-auto h-full w-full max-w-[1280px] px-10">
    <div class="flex h-full flex-col items-center justify-center gap-8 py-20">
      <!-- TODO: 배너 문구 설정 -->
      <p class="mb-2 text-center break-keep text-white">
        <span class="text-2xl lg:text-[48px]">
          <strong><%=routes.results.title%></strong>
        </span>
      </p>
      <p class="text-center font-['Oswald'] text-base break-keep text-white lg:text-xl">
        <span>"Our Results"</span>
      </p>
    </div>
  </div>
</div>

<!-- 성공사례 -->
<div class="w-full">
  <div class="m-auto flex w-full max-w-[1280px] flex-none flex-col gap-14 px-4 py-10 lg:flex-row lg:px-10 lg:py-20">
    <div class="grid w-full grid-cols-2 gap-4 lg:grid-cols-4 lg:gap-6">
      <div class="aspect-1/1 border-2 border-sky-700 lg:aspect-auto lg:h-[300px]">
        <div class="align-center flex h-full w-full flex-col justify-center p-4 lg:p-8">
          <p class="text-center font-['Oswald'] text-3xl font-semibold text-sky-700 lg:mb-2.5 lg:text-5xl">$19M</p>
          <p
            class="mb-2 text-center text-lg leading-none font-bold text-wrap break-keep text-sky-700 lg:mb-6 lg:text-3xl"
          >
            교통사고
          </p>
          <p
            class="text-center font-['Oswald'] text-xs leading-3 font-semibold text-wrap break-keep text-sky-700 lg:text-lg lg:leading-6"
          >
            Vehicle v. Vehicle
          </p>
        </div>
      </div>
      <div class="aspect-1/1 border-2 border-sky-700 lg:aspect-auto lg:h-[300px]">
        <div class="align-center flex h-full w-full flex-col justify-center p-4 lg:p-8">
          <p class="text-center font-['Oswald'] text-3xl font-semibold text-sky-700 lg:mb-2.5 lg:text-5xl">$15M</p>
          <p
            class="mb-2 text-center text-lg leading-none font-bold text-wrap break-keep text-sky-700 lg:mb-6 lg:text-3xl"
          >
            교통사고
          </p>
          <p
            class="text-center font-['Oswald'] text-xs leading-3 font-semibold text-wrap break-keep text-sky-700 lg:text-lg lg:leading-6"
          >
            Vehicle v. MTA City Bus
          </p>
        </div>
      </div>
      <div class="aspect-1/1 border-2 border-sky-700 lg:aspect-auto lg:h-[300px]">
        <div class="align-center flex h-full w-full flex-col justify-center p-4 lg:p-8">
          <p class="text-center font-['Oswald'] text-3xl font-semibold text-sky-700 lg:mb-2.5 lg:text-5xl">$3.5M</p>
          <p
            class="mb-2 text-center text-lg leading-none font-bold text-wrap break-keep text-sky-700 lg:mb-6 lg:text-3xl"
          >
            오토바이 v. 교통사고
          </p>
          <p
            class="text-center font-['Oswald'] text-xs leading-3 font-semibold text-wrap break-keep text-sky-700 lg:text-lg lg:leading-6"
          >
            Motorcycle v. Vehicle
          </p>
        </div>
      </div>
      <div class="aspect-1/1 border-2 border-sky-700 lg:aspect-auto lg:h-[300px]">
        <div class="align-center flex h-full w-full flex-col justify-center p-4 lg:p-8">
          <p class="text-center font-['Oswald'] text-3xl font-semibold text-sky-700 lg:mb-2.5 lg:text-5xl">$2.15M</p>
          <p
            class="mb-2 text-center text-lg leading-none font-bold text-wrap break-keep text-sky-700 lg:mb-6 lg:text-3xl"
          >
            보행자 v. 차량
          </p>
          <p
            class="text-center font-['Oswald'] text-xs leading-3 font-semibold text-wrap break-keep text-sky-700 lg:text-lg lg:leading-6"
          >
            Pedestrian v. Vehicle
          </p>
        </div>
      </div>
      <div class="aspect-1/1 border-2 border-sky-700 lg:aspect-auto lg:h-[300px]">
        <div class="align-center flex h-full w-full flex-col justify-center p-4 lg:p-8">
          <p class="text-center font-['Oswald'] text-3xl font-semibold text-sky-700 lg:mb-2.5 lg:text-5xl">$1.25M</p>
          <p
            class="mb-2 text-center text-lg leading-none font-bold text-wrap break-keep text-sky-700 lg:mb-6 lg:text-3xl"
          >
            보행자 v. 차량
          </p>
          <p
            class="text-center font-['Oswald'] text-xs leading-3 font-semibold text-wrap break-keep text-sky-700 lg:text-lg lg:leading-6"
          >
            Pedestrian v. Vehicle
          </p>
        </div>
      </div>
      <div class="aspect-1/1 border-2 border-sky-700 lg:aspect-auto lg:h-[300px]">
        <div class="align-center flex h-full w-full flex-col justify-center p-4 lg:p-8">
          <p class="text-center font-['Oswald'] text-3xl font-semibold text-sky-700 lg:mb-2.5 lg:text-5xl">$1M</p>
          <p
            class="mb-2 text-center text-lg leading-none font-bold text-wrap break-keep text-sky-700 lg:mb-6 lg:text-3xl"
          >
            의료과실
          </p>
          <p
            class="text-center font-['Oswald'] text-xs leading-3 font-semibold text-wrap break-keep text-sky-700 lg:text-lg lg:leading-6"
          >
            Medical Malpractice
          </p>
        </div>
      </div>
      <div class="aspect-1/1 border-2 border-sky-700 lg:aspect-auto lg:h-[300px]">
        <div class="align-center flex h-full w-full flex-col justify-center p-4 lg:p-8">
          <p class="text-center font-['Oswald'] text-3xl font-semibold text-sky-700 lg:mb-2.5 lg:text-5xl">$962K</p>
          <p
            class="mb-2 text-center text-lg leading-none font-bold text-wrap break-keep text-sky-700 lg:mb-6 lg:text-3xl"
          >
            교통사고
          </p>
          <p
            class="text-center font-['Oswald'] text-xs leading-3 font-semibold text-wrap break-keep text-sky-700 lg:text-lg lg:leading-6"
          >
            Medical Malpractice
          </p>
        </div>
      </div>
      <div class="aspect-1/1 border-2 border-sky-700 lg:aspect-auto lg:h-[300px]">
        <div class="align-center flex h-full w-full flex-col justify-center p-4 lg:p-8">
          <p class="text-center font-['Oswald'] text-3xl font-semibold text-sky-700 lg:mb-2.5 lg:text-5xl">$625K</p>
          <p
            class="mb-2 text-center text-lg leading-none font-bold text-wrap break-keep text-sky-700 lg:mb-6 lg:text-3xl"
          >
            교통사고
          </p>
          <p
            class="text-center font-['Oswald'] text-xs leading-3 font-semibold text-wrap break-keep text-sky-700 lg:text-lg lg:leading-6"
          >
            Vehicle v. Ambulance
          </p>
        </div>
      </div>
      <div class="aspect-1/1 border-2 border-sky-700 lg:aspect-auto lg:h-[300px]">
        <div class="align-center flex h-full w-full flex-col justify-center p-4 lg:p-8">
          <p class="text-center font-['Oswald'] text-3xl font-semibold text-sky-700 lg:mb-2.5 lg:text-5xl">$450K</p>
          <p
            class="mb-2 text-center text-lg leading-none font-bold text-wrap break-keep text-sky-700 lg:mb-6 lg:text-3xl"
          >
            의료과실
          </p>
          <p
            class="text-center font-['Oswald'] text-xs leading-3 font-semibold text-wrap break-keep text-sky-700 lg:text-lg lg:leading-6"
          >
            Medical Malpractice
          </p>
        </div>
      </div>
      <div class="aspect-1/1 border-2 border-sky-700 lg:aspect-auto lg:h-[300px]">
        <div class="align-center flex h-full w-full flex-col justify-center p-4 lg:p-8">
          <p class="text-center font-['Oswald'] text-3xl font-semibold text-sky-700 lg:mb-2.5 lg:text-5xl">$400K</p>
          <p
            class="mb-2 text-center text-lg leading-none font-bold text-wrap break-keep text-sky-700 lg:mb-6 lg:text-3xl"
          >
            구내 상해사고
          </p>
          <p
            class="text-center font-['Oswald'] text-xs leading-3 font-semibold text-wrap break-keep text-sky-700 lg:text-lg lg:leading-6"
          >
            Premises Liability
          </p>
        </div>
      </div>
      <div class="aspect-1/1 border-2 border-sky-700 lg:aspect-auto lg:h-[300px]">
        <div class="align-center flex h-full w-full flex-col justify-center p-4 lg:p-8">
          <p class="text-center font-['Oswald'] text-3xl font-semibold text-sky-700 lg:mb-2.5 lg:text-5xl">$380K</p>
          <p
            class="mb-2 text-center text-lg leading-none font-bold text-wrap break-keep text-sky-700 lg:mb-6 lg:text-3xl"
          >
            의료과실
          </p>
          <p
            class="text-center font-['Oswald'] text-xs leading-3 font-semibold text-wrap break-keep text-sky-700 lg:text-lg lg:leading-6"
          >
            Medical Malpractice
          </p>
        </div>
      </div>
      <div class="aspect-1/1 border-2 border-sky-700 lg:aspect-auto lg:h-[300px]">
        <div class="align-center flex h-full w-full flex-col justify-center p-4 lg:p-8">
          <p class="text-center font-['Oswald'] text-3xl font-semibold text-sky-700 lg:mb-2.5 lg:text-5xl">$325K</p>
          <p
            class="mb-2 text-center text-lg leading-none font-bold text-wrap break-keep text-sky-700 lg:mb-6 lg:text-3xl"
          >
            의료과실
          </p>
          <p
            class="text-center font-['Oswald'] text-xs leading-3 font-semibold text-wrap break-keep text-sky-700 lg:text-lg lg:leading-6"
          >
            Medical Malpractice
          </p>
        </div>
      </div>
      <div class="aspect-1/1 border-2 border-sky-700 lg:aspect-auto lg:h-[300px]">
        <div class="align-center flex h-full w-full flex-col justify-center p-4 lg:p-8">
          <p class="text-center font-['Oswald'] text-3xl font-semibold text-sky-700 lg:mb-2.5 lg:text-5xl">$325K</p>
          <p
            class="mb-2 text-center text-lg leading-none font-bold text-wrap break-keep text-sky-700 lg:mb-6 lg:text-3xl"
          >
            구내 상해사고
          </p>
          <p
            class="text-center font-['Oswald'] text-xs leading-3 font-semibold text-wrap break-keep text-sky-700 lg:text-lg lg:leading-6"
          >
            Premises Liability
          </p>
        </div>
      </div>
      <div class="aspect-1/1 border-2 border-sky-700 lg:aspect-auto lg:h-[300px]">
        <div class="align-center flex h-full w-full flex-col justify-center p-4 lg:p-8">
          <p class="text-center font-['Oswald'] text-3xl font-semibold text-sky-700 lg:mb-2.5 lg:text-5xl">$280K</p>
          <p
            class="mb-2 text-center text-lg leading-none font-bold text-wrap break-keep text-sky-700 lg:mb-6 lg:text-3xl"
          >
            의료과실
          </p>
          <p
            class="text-center font-['Oswald'] text-xs leading-3 font-semibold text-wrap break-keep text-sky-700 lg:text-lg lg:leading-6"
          >
            Medical Malpractice
          </p>
        </div>
      </div>
      <div class="aspect-1/1 border-2 border-sky-700 lg:aspect-auto lg:h-[300px]">
        <div class="align-center flex h-full w-full flex-col justify-center p-4 lg:p-8">
          <p class="text-center font-['Oswald'] text-3xl font-semibold text-sky-700 lg:mb-2.5 lg:text-5xl">$250K</p>
          <p
            class="mb-2 text-center text-lg leading-none font-bold text-wrap break-keep text-sky-700 lg:mb-6 lg:text-3xl"
          >
            의료과실
          </p>
          <p
            class="text-center font-['Oswald'] text-xs leading-3 font-semibold text-wrap break-keep text-sky-700 lg:text-lg lg:leading-6"
          >
            Vehicle v. Vehicle
          </p>
        </div>
      </div>
      <div class="aspect-1/1 border-2 border-sky-700 lg:aspect-auto lg:h-[300px]">
        <div class="align-center flex h-full w-full flex-col justify-center p-4 lg:p-8">
          <p class="text-center font-['Oswald'] text-3xl font-semibold text-sky-700 lg:mb-2.5 lg:text-5xl">$250K</p>
          <p
            class="mb-2 text-center text-lg leading-none font-bold text-wrap break-keep text-sky-700 lg:mb-6 lg:text-3xl"
          >
            교통사고
          </p>
          <p
            class="text-center font-['Oswald'] text-xs leading-3 font-semibold text-wrap break-keep text-sky-700 lg:text-lg lg:leading-6"
          >
            Vehicle v. Vehicle
          </p>
        </div>
      </div>
      <div class="aspect-1/1 border-2 border-sky-700 lg:aspect-auto lg:h-[300px]">
        <div class="align-center flex h-full w-full flex-col justify-center p-4 lg:p-8">
          <p class="text-center font-['Oswald'] text-3xl font-semibold text-sky-700 lg:mb-2.5 lg:text-5xl">$205K</p>
          <p
            class="mb-2 text-center text-lg leading-none font-bold text-wrap break-keep text-sky-700 lg:mb-6 lg:text-3xl"
          >
            교통사고
          </p>
          <p
            class="text-center font-['Oswald'] text-xs leading-3 font-semibold text-wrap break-keep text-sky-700 lg:text-lg lg:leading-6"
          >
            Tour Bus Accident
          </p>
        </div>
      </div>
      <div class="aspect-1/1 border-2 border-sky-700 lg:aspect-auto lg:h-[300px]">
        <div class="align-center flex h-full w-full flex-col justify-center p-4 lg:p-8">
          <p class="text-center font-['Oswald'] text-3xl font-semibold text-sky-700 lg:mb-2.5 lg:text-5xl">$200K</p>
          <p
            class="mb-2 text-center text-lg leading-none font-bold text-wrap break-keep text-sky-700 lg:mb-6 lg:text-3xl"
          >
            교통사고
          </p>
          <p
            class="text-center font-['Oswald'] text-xs leading-3 font-semibold text-wrap break-keep text-sky-700 lg:text-lg lg:leading-6"
          >
            Vehicle v. Vehicle
          </p>
        </div>
      </div>
      <div class="aspect-1/1 border-2 border-sky-700 lg:aspect-auto lg:h-[300px]">
        <div class="align-center flex h-full w-full flex-col justify-center p-4 lg:p-8">
          <p class="text-center font-['Oswald'] text-3xl font-semibold text-sky-700 lg:mb-2.5 lg:text-5xl">$100K</p>
          <p
            class="mb-2 text-center text-lg leading-none font-bold text-wrap break-keep text-sky-700 lg:mb-6 lg:text-3xl"
          >
            구내 상해사고
          </p>
          <p
            class="text-center font-['Oswald'] text-xs leading-3 font-semibold text-wrap break-keep text-sky-700 lg:text-lg lg:leading-6"
          >
            Premises Liability
          </p>
        </div>
      </div>
      <div class="aspect-1/1 border-2 border-sky-700 lg:aspect-auto lg:h-[300px]">
        <div class="align-center flex h-full w-full flex-col justify-center p-4 lg:p-8">
          <p class="text-center font-['Oswald'] text-3xl font-semibold text-sky-700 lg:mb-2.5 lg:text-5xl">$100K</p>
          <p
            class="mb-2 text-center text-lg leading-none font-bold text-wrap break-keep text-sky-700 lg:mb-6 lg:text-3xl"
          >
            정신적 고통의 부주의한 가해
          </p>
          <p
            class="text-center font-['Oswald'] text-xs leading-none font-semibold text-wrap break-keep text-sky-700 lg:text-lg"
          >
            Pedestrian v. Vehicle. Negligent Infliction of Emotional Distress (NIED)
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
