<header class="flex items-center justify-between w-full h-16 rounded-2xl shadow-lg px-6 py-2 mb-4 bg-white dark:bg-gray-700 lg:hidden">
  <!-- 로고 -->
  <a href="<%=routes.index.url%>">
    <div class="flex gap-1.5 items-center justify-center">
      <span class="text-slate-700">
        <img src="<%=company.logo%>" alt="<%=company.name%>" class="w-6 h-6">
      </span>
      <span class="text-2xl font-bold text-slate-700"><%=company.nameEn.toUpperCase()%></span>
    </div>
  </a>
  <!-- 햄버거 버튼 -->
  <button
    id="menu-toggle"
    class="lg:hidden focus:outline-none"
    aria-label="Toggle Menu"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M4 6h16M4 12h16m-7 6h7"
      />
    </svg>
  </button>
</header>