<div class="mb-2 border-t border-light-border">
  <p class="orb-remark p-2 mt-2"><%=title%></p>
  <ul class="flex flex-col gap-2 font-medium text-primary-dark">
    <% items.forEach(function(item) { %>
    <li class="rounded-lg transition-all <%if (item.isActive) {%>orb-hightlight<%} else {%>hover:bg-surface-bg<%}%>">
      <a class="flex items-center justify-start p-2" href="<%=item.url%>">
        <span class="text-left"><%- include(`icons/${item.icon}`) %></span>
        <span class="mx-3"><%=item.title%></span>
      </a>
    </li>
    <% }); %>
  </ul>
</div>
