@import "tailwindcss";

@layer base {
  @font-face {
    font-family: "Pretendard";
    src: url("/fonts/Pretendard-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: "Pretendard";
    src: url("/fonts/Pretendard-Medium.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
  }
  @font-face {
    font-family: "Pretendard";
    src: url("/fonts/Pretendard-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
  }
  @font-face {
    font-family: "Pretendard";
    src: url("/fonts/Pretendard-Bold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
  }
}

@layer components {
  .orb-hightlight {
    @apply text-blue-500 dark:text-white bg-blue-50 dark:bg-gray-600;
  }

  .orb-hightlight-warning {
    @apply text-white dark:text-white bg-yellow-500 dark:bg-yellow-600;
  }

  .orb-hightlight-error {
    @apply text-white dark:text-white bg-red-300 dark:bg-red-300;
  }

  .orb-btn-close {
    @apply rounded-full bg-slate-700 from-slate-800 to-slate-700 py-2 px-4 text-center text-sm text-white transition-all focus:bg-slate-700 active:bg-slate-700 hover:bg-slate-700 disabled:pointer-events-none disabled:opacity-50 cursor-pointer;
  }

  .orb-btn-primary {
    @apply w-full lg:w-auto rounded-lg bg-gradient-to-tr from-blue-600 to-blue-500 py-2 px-4 text-center text-sm text-white transition-all focus:bg-blue-500 active:bg-blue-500 hover:bg-blue-500 disabled:pointer-events-none disabled:opacity-50 cursor-pointer;
  }

  .orb-btn-secondary {
    @apply w-full lg:w-auto rounded-lg bg-gradient-to-tr from-gray-600 to-gray-500 py-2 px-4 text-center text-sm text-white transition-all focus:bg-gray-500 active:bg-gray-500 hover:bg-gray-500 disabled:pointer-events-none disabled:opacity-50 cursor-pointer;
  }

  .orb-btn-third {
    @apply w-full lg:w-auto rounded-lg bg-gradient-to-tr from-green-600 to-green-500 py-2 px-4 text-center text-sm text-white transition-all focus:bg-green-500 active:bg-green-500 hover:bg-green-500 disabled:pointer-events-none disabled:opacity-50 cursor-pointer;
  }

  .orb-btn-delete {
    @apply w-full lg:w-auto rounded-lg bg-gradient-to-tr from-red-600 to-red-500 py-2 px-4 text-center text-sm text-white transition-all focus:bg-red-500 active:bg-red-500 hover:bg-red-500 disabled:pointer-events-none disabled:opacity-50 cursor-pointer;
  }

  .orb-list {
    @apply relative flex flex-col text-gray-700;
  }

  .orb-list table {
    @apply text-left table-auto min-w-full;
  }

  .orb-list table th {
    @apply px-4 py-3 bg-gray-100 border-t border-b border-gray-200;
  }

  .orb-list table th p {
    @apply text-xs lg:text-[13px] font-semibold leading-none text-gray-500;
  }

  .orb-list table tbody tr {
    @apply border-b border-gray-200;
  }

  .orb-list table tbody td {
    @apply px-4 py-3;
  }

  .orb-list table tbody td p {
    @apply text-gray-800 text-xs lg:text-sm;
  }

  .orb-list button {
    @apply px-3 py-1 min-w-9 min-h-9 text-sm font-normal text-slate-500 bg-white rounded-lg hover:underline transition duration-200 ease-in;
  }

  .orb-list button.active {
    @apply text-blue-500 bg-blue-50;
  }
}
