@import 'tailwindcss';

@layer base {
  /* Pretendard */
  @font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
  }
  @font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
  }
  @font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
  }
  /* Cinzel */
  @font-face {
    font-family: 'Cinzel';
    src: url('/fonts/Cinzel-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: 'Cinzel';
    src: url('/fonts/Cinzel-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
  }
  @font-face {
    font-family: 'Cinzel';
    src: url('/fonts/Cinzel-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
  }
  @font-face {
    font-family: 'Cinzel';
    src: url('/fonts/Cinzel-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
  }
  /* Oswald */
  @font-face {
    font-family: 'Oswald';
    src: url('/fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: 'Oswald';
    src: url('/fonts/Oswald-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
  }
  @font-face {
    font-family: 'Oswald';
    src: url('/fonts/Oswald-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
  }
  @font-face {
    font-family: 'Oswald';
    src: url('/fonts/Oswald-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
  }
}

@layer components {
  .orb-hightlight {
    @apply bg-blue-50 text-blue-500 dark:bg-gray-600 dark:text-white;
  }

  .orb-hightlight-warning {
    @apply bg-yellow-500 text-white dark:bg-yellow-600 dark:text-white;
  }

  .orb-hightlight-error {
    @apply bg-red-300 text-white dark:bg-red-300 dark:text-white;
  }

  .orb-btn-close {
    @apply cursor-pointer rounded-full bg-slate-700 from-slate-800 to-slate-700 px-4 py-2 text-center text-sm text-white transition-all hover:bg-slate-700 focus:bg-slate-700 active:bg-slate-700 disabled:pointer-events-none disabled:opacity-50;
  }

  .orb-btn-primary {
    @apply block w-auto cursor-pointer rounded-lg bg-gradient-to-tr from-blue-600 to-blue-500 px-4 py-2 text-center text-sm text-white transition-all hover:bg-blue-500 focus:bg-blue-500 active:bg-blue-500 disabled:pointer-events-none disabled:opacity-50;
  }

  .orb-btn-secondary {
    @apply block w-full cursor-pointer rounded-lg bg-gradient-to-tr from-gray-600 to-gray-500 px-4 py-2 text-center text-sm text-white transition-all hover:bg-gray-500 focus:bg-gray-500 active:bg-gray-500 disabled:pointer-events-none disabled:opacity-50 lg:w-auto;
  }

  .orb-btn-third {
    @apply block w-full cursor-pointer rounded-lg bg-gradient-to-tr from-green-600 to-green-500 px-4 py-2 text-center text-sm text-white transition-all hover:bg-green-500 focus:bg-green-500 active:bg-green-500 disabled:pointer-events-none disabled:opacity-50 lg:w-auto;
  }

  .orb-btn-delete {
    @apply block w-full cursor-pointer rounded-lg bg-gradient-to-tr from-red-600 to-red-500 px-4 py-2 text-center text-sm text-white transition-all hover:bg-red-500 focus:bg-red-500 active:bg-red-500 disabled:pointer-events-none disabled:opacity-50 lg:w-auto;
  }

  .orb-list {
    @apply relative flex flex-col text-gray-700;
  }

  .orb-list table {
    @apply min-w-full table-auto text-left;
  }

  .orb-list table th {
    @apply border-t border-b border-gray-200 bg-gray-100 px-4 py-3;
  }

  .orb-list table th p {
    @apply text-xs leading-none font-semibold text-gray-500 lg:text-[13px];
  }

  .orb-list table tbody tr {
    @apply border-b border-gray-200;
  }

  .orb-list table tbody td {
    @apply px-4 py-3;
  }

  .orb-list table tbody td p {
    @apply text-xs text-gray-800 lg:text-sm;
  }

  .orb-list button {
    @apply min-h-9 min-w-9 rounded-lg bg-white px-3 py-1 text-sm font-normal text-slate-500 transition duration-200 ease-in hover:underline;
  }

  .orb-list button.active {
    @apply bg-blue-50 text-blue-500;
  }
}
