
<div class="flex-grow flex w-full h-full items-center justify-center">
  <div class="bg-white p-4 rounded-lg shadow-md w-96">
      <h2 class="text-2xl font-bold mb-6 text-center text-gray-800">관리자 로그인</h2>
      <form id="formAdminLogin">
          <div class="mb-4">
              <label for="email" class="block text-gray-700 text-sm font-bold mb-2">이메일</label>
              <input type="email" id="email" name="email" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="이메일 주소를 입력하세요">
          </div>
          <div class="mb-6">
              <label for="password" class="block text-gray-700 text-sm font-bold mb-2">비밀번호</label>
              <input type="password" id="password" name="password" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="비밀번호를 입력하세요">
          </div>
          <button type="submit"
                  class="w-full bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
              로그인
          </button>
      </form>
      <div class="mt-4 text-center">
          <a href="#" class="text-sm text-blue-500 hover:underline">비밀번호를 잊으셨나요?</a>
      </div>
  </div>
</div>

<script>
  document.getElementById('formAdminLogin').addEventListener('submit', async (e) => {
    e.preventDefault();

    // 폼 데이터 수집
    const formData = new FormData(e.target);

    // JSON 변환
    const data = {};
    formData.forEach((value, key) => {
        data[key] = value;
    });
    
    try {
      // POST 요청 보내기
      const response = await fetch('/api/backend/employee/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      });
      
      // 응답 처리
      if (response.ok) {
        const result = await response.json();
        alert('로그인 성공');
        location.href = '/admin';

      } else {
        alert(response.statusText);

      }

    } catch (error) {
      console.error(error);
      alert('서버 오류가 발생했습니다.');

    }
  });
</script>
