<ul
  class="border-main-border mb-4 flex overflow-x-auto border-b text-center text-sm font-medium text-gray-500 lg:mb-6 dark:border-gray-700 dark:text-gray-400"
>
  <li class="me-2 flex-none">
    <button
      class="hover:bg-paper-bg inline-block rounded-t-lg px-4 py-3 hover:text-gray-700 dark:hover:bg-gray-800 dark:hover:text-gray-400"
      data-tab="employees"
    >
      관리자 목록
    </button>
  </li>
  <li class="me-2 flex-none">
    <button
      class="hover:bg-paper-bg inline-block rounded-t-lg px-4 py-3 hover:text-gray-700 dark:hover:bg-gray-800 dark:hover:text-gray-400"
      data-tab="login-history"
    >
      접속 기록
    </button>
  </li>
</ul>
