<div class="block pt-2">
  <h1
    class="flex justify-start items-center gap-1.5 py-2 text-center text-slate-700 transition-all"
  >
    <span class="font-bold text-xl"><%=title%></span>
  </h1>
</div>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
  <div
    class="space-y-4 text-sm bg-white p-4 lg:p-6 rounded-xl shadow-[0_2px_30px_rgba(0,0,0,.06)]"
  >
    <ul>
      <li>진행중인 배너 1건</li>
      <li>예약된 배너 2건</li>
      <li>종료된 배너 3건</li>
    </ul>
  </div>
  <div
    class="space-y-4 text-sm bg-white p-4 lg:p-6 rounded-xl shadow-[0_2px_30px_rgba(0,0,0,.06)]"
  >
    <ul>
      <li>등록된 게시물 수 100건</li>
    </ul>
  </div>
  <div
    class="space-y-4 text-sm bg-white p-4 lg:p-6 rounded-xl shadow-[0_2px_30px_rgba(0,0,0,.06)]"
  >
    <ul>
      <li>등록된 관리자 2명</li>
    </ul>
  </div>
</div>
