<div class="flex h-full w-full flex-grow items-center justify-center">
  <div class="w-96 rounded-lg bg-white p-4 shadow-md">
    <div class="mx-auto mb-4 block max-w-[360px] border-b border-slate-300 pb-2">
      <h1 class="flex items-center justify-center gap-1.5 px-4 py-2 text-center text-slate-700 transition-all">
        <span class="font-bold"><%= typeof title !== 'undefined' ? title : 'ERROR' %></span>
      </h1>
    </div>
    <div>
      <h2 class="w-full p-4 text-center">
        <%= typeof message !== 'undefined' ? message : '알 수 없는 오류가 발생했습니다.' %>
      </h2>
      <div class="p-4 text-center">
        <button
          class="focus:ring-opacity-50 rounded-md bg-slate-700 px-4 py-2 text-white hover:bg-slate-800 focus:ring-2 focus:ring-slate-600 focus:outline-none"
        >
          뒤로가기
        </button>
      </div>
    </div>
  </div>
</div>

<script nonce="<%=nonce%>">
  document.addEventListener('DOMContentLoaded', () => {
    const button = document.querySelector('button');
    button.addEventListener('click', () => {
      window.history.back();
    });
  });
</script>
