<div class="block pt-2 mb-2">
  <h1
    class="flex justify-self-start items-center gap-1.5 py-2 text-center text-slate-700 transition-all"
  >
    <span class="font-bold text-xl"><%=company.name%></span>
  </h1>
</div>

<div
  class="h-full space-y-4 text-sm bg-white p-4 lg:p-6 rounded-xl shadow-[0_2px_30px_rgba(0,0,0,.06)]"
>
  관리자 메인 페이지 입니다. <br />
  업체별 커스터마이징 될 화면입니다.
</div>
