<div class="my-2">
  <h1 class="flex items-center gap-1.5 justify-self-start py-2 text-center text-slate-700 transition-all">
    <span class="text-2xl font-semibold"><%=settings.companyInfo.name.toUpperCase()%></span>
  </h1>
</div>

<div class="h-full space-y-4 rounded-xl bg-white p-4 text-sm shadow-[0_2px_30px_rgba(0,0,0,.06)] lg:p-6">
  관리자 메인 페이지 입니다. <br />
  업체별 커스터마이징 될 화면입니다.
</div>
