@import 'tailwindcss';

@import './custom-grid.css';

@theme {
  /* font */
  --font-pretendard: 'Pretendard Variable', system-ui, sans-serif;

  /* color */
  /* common */
  --color-common-white: #ffffff;
  --color-common-black: #0c0c0c;

  /* primary */
  --color-primary-lighter: var(--color-gray-400);
  --color-primary-light: var(--color-gray-500);
  --color-primary-main: var(--color-gray-700);
  --color-primary-dark: var(--color-gray-800);
  --color-primary-darker: var(--color-gray-900);

  /* secondary */
  --color-secondary-lighter: rgba(78, 65, 219, 0.15);
  --color-secondary-light: rgba(78, 65, 219, 0.25);
  --color-secondary-main: rgba(78, 65, 219, 1);
  --color-secondary-dark: var(--color-gray-600);
  --color-secondary-darker: var(--color-gray-700);

  /* info */

  /* success */
  --color-success-lighter: var(--color-secondary-lighter);
  --color-success-light: var(--color-secondary-light);
  --color-success-main: var(--color-secondary-main);
  --color-success-dark: var(--color-secondary-dark);
  --color-success-darker: var(--color-secondary-darker);

  /* warning */
  --color-warning-lighter: var(--color-amber-50);
  --color-warning-light: var(--color-amber-100);
  --color-warning-main: var(--color-amber-500);
  --color-warning-dark: var(--color-amber-600);
  --color-warning-darker: var(--color-amber-700);
  --color-warning-contrast: var(--color-common-white);

  /* error */
  --color-error-lighter: var(--color-red-50);
  --color-error-light: var(--color-red-100);
  --color-error-main: var(--color-red-500);
  --color-error-dark: var(--color-red-600);
  --color-error-darker: var(--color-red-700);
  --color-error-contrast: var(--color-common-white);

  /* background */
  --color-default-bg: var(--color-common-white);
  --color-paper-bg: var(--color-gray-50);
  --color-surface-bg: #f5f6f8;

  /* button */

  /* border */
  --color-light-border: var(--color-gray-100);
  --color-main-border: var(--color-gray-200);
  --color-dark-border: var(--color-gray-300);
}

/* 기본 스타일이 적용되는 레이어 */
@layer base {
  * {
    @apply m-0 box-border border-0 p-0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    @apply font-pretendard text-common-black bg-paper-bg;
  }

  button {
    @apply cursor-pointer;
  }

  img.error-image {
    @apply border-main-border bg-common-white border-1 !object-none;
  }
}

/* 재사용 가능한 컴포넌트 클래스 */
@layer components {
  .orb-shadow {
    @apply shadow-[0_2px_30px_rgba(0,0,0,.06)];
  }

  .orb-label {
    @apply text-primary-dark flex-none text-[13px];
  }
  .orb-remark {
    @apply text-primary-light text-[12px];
  }
  .orb-input {
    @apply bg-surface-bg placeholder:text-primary-lighter focus:ring-secondary-main w-full rounded-lg px-4 py-3 placeholder:text-sm focus:ring-1 focus:outline-none;
  }
  .orb-input-search {
    @apply bg-surface-bg focus:ring-secondary-main w-full rounded-lg py-3 pr-11 pl-4 text-sm text-gray-700 transition duration-200 ease-in-out placeholder:text-gray-400 focus:ring-1 focus:outline-none;
  }
  .orb-select {
    @apply border-light-border bg-surface-bg focus:ring-secondary-main w-full rounded-lg border-r-12 p-3 placeholder:text-sm placeholder:text-gray-400 focus:ring-1 focus:outline-none;
  }

  .orb-head {
    @apply text-primary-dark text-xl font-bold lg:text-2xl;
  }

  .orb-hightlight {
    @apply bg-surface-bg text-secondary-main;
  }
  .orb-hightlight-warning {
    @apply text-common-white bg-amber-500;
  }
  .orb-hightlight-error {
    @apply text-common-white bg-red-300;
  }

  .orb-btn {
    @apply block rounded-lg px-4 py-3 text-center text-sm font-bold disabled:cursor-not-allowed disabled:opacity-50 lg:w-auto;
    &:hover {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
    }
  }
  .orb-btn-primary {
    @apply bg-success-lighter text-success-main min-w-[80px] transition-all;
  }
  .orb-btn-primary-alert {
    @apply text-common-white min-w-[80px] bg-gray-600 transition-all;
  }
  .orb-btn-success {
    @apply text-common-white bg-success-main min-w-[80px] transition-all;
  }
  .orb-btn-delete {
    @apply text-common-white bg-error-main min-w-[80px] transition-all;
  }
  .orb-btn-delete-alert {
    @apply text-common-white min-w-[80px] bg-red-400 transition-all;
  }
  .orb-btn-info {
    @apply border-dark-border text-primary-light min-w-[80px] border bg-transparent leading-[18px];
  }
}
