@import 'tailwindcss';

@import './custom-grid.css';

@theme {
  /* font */
  --font-pretendard: 'Pretendard Variable', system-ui, sans-serif;
  --font-oswald: 'Oswald', var(--font-pretendard);
  --font-cinzel: 'Cinzel', var(--font-pretendard);

  /* color */
  /* common */
  --color-common-white: #ffffff;
  --color-common-black: #0c0c0c;

  /* primary */
  --color-primary-lighter: var(--color-gray-400);
  --color-primary-light: var(--color-gray-500);
  --color-primary-main: var(--color-gray-700);
  --color-primary-dark: var(--color-gray-800);
  --color-primary-darker: var(--color-gray-900);

  /* secondary */

  /* info */

  /* success */
  --color-success-lighter: var(--color-blue-50);
  --color-success-light: var(--color-blue-100);
  --color-success-main: var(--color-blue-500);
  --color-success-dark: var(--color-blue-600);
  --color-success-darker: var(--color-blue-700);
  --color-success-contrast: var(--color-common-white);

  /* warning */
  --color-warning-lighter: var(--color-amber-50);
  --color-warning-light: var(--color-amber-100);
  --color-warning-main: var(--color-amber-500);
  --color-warning-dark: var(--color-amber-600);
  --color-warning-darker: var(--color-amber-700);
  --color-warning-contrast: var(--color-common-white);

  /* error */
  --color-error-lighter: var(--color-red-50);
  --color-error-light: var(--color-red-100);
  --color-error-main: var(--color-red-500);
  --color-error-dark: var(--color-red-600);
  --color-error-darker: var(--color-red-700);
  --color-error-contrast: var(--color-common-white);

  /* background */
  --color-default-bg: var(--color-common-white);
  --color-paper-bg: var(--color-gray-50);

  /* button */

  /* border */
  --color-light-border: var(--color-gray-100);
  --color-main-border: var(--color-gray-200);
  --color-dark-border: var(--color-gray-300);
}

/* 기본 스타일이 적용되는 레이어 */
@layer base {
  * {
    @apply m-0 box-border border-0 p-0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    @apply font-pretendard text-common-black bg-paper-bg;
  }

  button {
    @apply cursor-pointer;
  }

  img.error-image {
    @apply border-main-border bg-common-white border-1 !object-none;
  }
}

/* 재사용 가능한 컴포넌트 클래스 */
@layer components {
  .orb-shadow {
    @apply shadow-[0_2px_30px_rgba(0,0,0,.06)];
  }

  .orb-label {
    @apply flex-none text-[13px] text-gray-800;
  }
  .orb-remark {
    @apply text-[12px] text-gray-500;
  }
  .orb-input {
    @apply w-full rounded-lg bg-gray-100 px-4 py-3 placeholder:text-sm placeholder:text-gray-400 focus:ring-2 focus:ring-blue-200 focus:outline-none;
  }
  .orb-input-search {
    @apply w-full rounded-lg bg-gray-100 py-3 pr-11 pl-4 text-sm text-gray-700 transition duration-200 ease-in-out placeholder:text-gray-400 focus:ring-2 focus:ring-blue-200 focus:outline-none;
  }
  .orb-select {
    @apply border-light-border w-full rounded-lg border-r-12 bg-gray-100 p-3 placeholder:text-sm placeholder:text-gray-400 focus:ring-2 focus:ring-blue-200 focus:outline-none;
  }

  .orb-head {
    @apply text-xl font-bold text-slate-700 lg:text-2xl;
  }

  .orb-hightlight {
    @apply dark:text-common-white bg-blue-50 text-blue-500 dark:bg-gray-600;
  }
  .orb-hightlight-warning {
    @apply text-common-white dark:text-common-white bg-amber-500 dark:bg-amber-600;
  }
  .orb-hightlight-error {
    @apply text-common-white dark:text-common-white bg-red-300 dark:bg-red-300;
  }

  .orb-btn {
    @apply block rounded-lg px-4 py-3 text-center text-sm font-medium disabled:pointer-events-none disabled:opacity-50 lg:w-auto;
  }
  .orb-btn-primary {
    @apply text-common-white bg-common-black min-w-[80px] transition-all;
  }
  .orb-btn-primary-alert {
    @apply text-common-white hover:bg-primary-main min-w-[80px] bg-gray-600 transition-all;
  }
  .orb-btn-success {
    @apply text-common-white hover:bg-success-dark bg-success-main min-w-[80px] transition-all;
  }
  .orb-btn-delete {
    @apply text-common-white bg-error-main hover:bg-error-dark min-w-[80px] transition-all;
  }
  .orb-btn-delete-alert {
    @apply text-common-white hover:bg-error-main min-w-[80px] bg-red-400 transition-all;
  }
  .orb-btn-info {
    @apply border-dark-border text-primary-light min-w-[80px] border bg-transparent leading-[18px];
  }
}
