@import 'tailwindcss';

@import './custom-grid.css';

@theme {
  /* font */
  --font-pretendard: 'Pretendard Variable', system-ui, sans-serif;
  --font-oswald: 'Oswald', var(--font-pretendard);
  --font-cinzel: 'Cinzel', var(--font-pretendard);

  /* color */
  --color-white: #ffffff;
  --color-black: #0c0c0c;
  --color-success: var(--color-emerald-500);
  --color-error: var(--color-red-500);
  --color-warning: var(--color-amber-500);
  --color-info: var(--color-slate-500);

  /* border */
  --color-border-1: var(--color-gray-100);
  --color-border-2: var(--color-gray-200);
  --color-border-3: var(--color-gray-300);
}

/* 기본 스타일이 적용되는 레이어 */
@layer base {
  /* 다크테마 */
  /* html[data-theme='dark'] {
    --color-primary: oklch(78.9% 0.154 211.53);
  } */

  /* 라이트테마 */
  /* html[data-theme='light'] {
    --color-primary: var(--color-primary);
  } */

  * {
    @apply m-0 box-border border-0 p-0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    @apply font-pretendard bg-gray-50 text-black;
  }

  button {
    @apply cursor-pointer;
  }

  img.error-image {
    @apply border-border-2 border-1 bg-white !object-none;
  }
}

/* 재사용 가능한 컴포넌트 클래스 */
@layer components {
  .orb-label {
    @apply flex-none text-[13px] text-gray-800;
  }

  .orb-remark {
    @apply text-[12px] text-gray-500;
  }

  .orb-input {
    @apply w-full rounded-lg bg-gray-100 px-4 py-3 placeholder:text-sm placeholder:text-gray-400 focus:ring-2 focus:ring-blue-200 focus:outline-none;
  }

  .orb-hightlight {
    @apply bg-blue-50 text-blue-500 dark:bg-gray-600 dark:text-white;
  }

  .orb-hightlight-warning {
    @apply bg-amber-500 text-white dark:bg-amber-600 dark:text-white;
  }

  .orb-hightlight-error {
    @apply bg-red-300 text-white dark:bg-red-300 dark:text-white;
  }

  .orb-btn {
    @apply block cursor-pointer rounded-lg px-4 py-3 text-center text-sm font-medium disabled:pointer-events-none disabled:opacity-50 lg:w-auto;
  }

  .orb-btn-close {
    @apply bg-slate-500 text-white transition-all hover:bg-slate-600;
  }

  .orb-btn-primary {
    @apply min-w-[80px] bg-blue-500 text-white transition-all hover:bg-blue-600;
  }

  .orb-btn-secondary {
    @apply min-w-[80px] bg-gray-500 text-white transition-all hover:bg-gray-600;
  }

  .orb-btn-tertiary {
    @apply min-w-[80px] bg-emerald-500 text-white transition-all hover:bg-emerald-600;
  }

  .orb-btn-delete {
    @apply min-w-[80px] bg-red-500 text-white transition-all hover:bg-red-600;
  }

  .orb-btn-common {
    @apply border-border-3 min-w-[80px] border bg-transparent leading-[18px] text-gray-500;
  }

  .orb-list {
    @apply relative flex flex-col text-gray-700;
  }

  .orb-list table {
    @apply min-w-full table-auto text-left;
  }

  .orb-list table th {
    @apply border-border-2 border-t border-b bg-gray-100 px-4 py-3;
  }

  .orb-list table th p {
    @apply text-xs leading-none font-semibold text-gray-500 lg:text-[13px];
  }

  .orb-list table tbody tr {
    @apply border-border-2 border-b;
  }

  .orb-list table tbody td {
    @apply px-4 py-3;
  }

  .orb-list table tbody td p {
    @apply text-xs text-gray-800 lg:text-sm;
  }

  .orb-list button {
    @apply min-h-9 min-w-9 rounded-lg bg-white px-3 py-1 text-sm font-normal text-slate-500 transition duration-200 ease-in hover:underline;
  }

  .orb-list button.active {
    @apply bg-blue-50 text-blue-500;
  }
}
