<footer class="text-[12px] text-primary-lighter p-[30px]">
  <p class="flex items-center justify-center divide-x divide-main-border leading-[20px]">
    <span class="px-4"
      >&copy;
      <%= new Date().getFullYear() %>
      <%= settings.companyInfo.name %>. All rights reserved.</span
    >
    <span class="px-4">Produced by <a href="#" class="font-semibold">Orbitcode</a>.</span>
  </p>
</footer>
