<header class="h-[60px] flex w-full items-center justify-between px-6 py-2 bg-common-black p-4">
  <!-- 로고 -->
  <a href="<%=backendRoutes.index.url%>">
    <div class="flex items-center justify-center gap-2">
      <% if (settings.logo) { %>
      <div class="text-common-white w-[30px] aspect-square">
        <img src="<%=settings.logo%>" alt="<%=settings.companyInfo.name%>" class="w-full h-full object-contain" />
      </div>
      <% } %>
      <span class="text-xl leading-none font-bold text-common-white"><%=settings.companyInfo.name.toUpperCase()%></span>
    </div>
  </a>
</header>
