<div class="flex-grow flex w-full h-full items-center justify-center">
  <div class="bg-white p-4 rounded-lg shadow-md w-96">
      <div class="flex gap-1.5 items-center justify-center py-4 mb-2">
        <span class="text-slate-700">
          <img src="<%=company.logo%>" alt="<%=company.name%>" class="w-6 h-6">
        </span>
        <span class="text-2xl font-bold text-slate-700"><%=company.nameEn.toUpperCase()%></span>
      </div>
      <div class="text-center py-4">
        관리자에게 문의해 주세요.
      </div>
      <div class="text-center p-4">
        <button onclick="window.history.back()" class="px-4 py-2 text-white bg-slate-700 rounded-md hover:bg-slate-800 focus:outline-none focus:ring-2 focus:ring-slate-600 focus:ring-opacity-50">로그인 페이지로 돌아가기</button>
      </div>
  </div>
</div>