<div class="flex h-full w-full flex-grow items-center justify-center">
  <div class="bg-default-bg orb-shadow w-[500px] rounded-2xl p-6 lg:p-10">
    <div class="mb-2 flex items-center justify-center gap-1.5 py-4">
      <span class="text-slate-700">
        <img src="<%=settings.logo%>" alt="<%=settings.companyInfo.name%>" class="h-8 w-8" />
      </span>
      <span class="text-3xl font-bold text-slate-700"><%=settings.companyInfo.name.toUpperCase()%></span>
    </div>
    <div class="mb-4 py-4 text-center">관리자에게 문의해 주세요.</div>
    <button class="orb-btn orb-btn-primary h-[56px] w-full text-base">로그인 페이지로 돌아가기</button>
  </div>
</div>

<script nonce="<%=nonce%>">
  document.addEventListener('DOMContentLoaded', () => {
    const button = document.querySelector('button');
    button.addEventListener('click', () => {
      window.history.back();
    });
  });
</script>
