<ul
  class="border-border-2 mb-4 flex overflow-x-auto border-b text-center text-sm font-medium text-gray-500 lg:mb-6 dark:border-gray-700 dark:text-gray-400"
>
  <li class="me-2 flex-none">
    <button
      class="inline-block rounded-t-lg px-4 py-3 hover:bg-gray-50 hover:text-gray-700 dark:hover:bg-gray-800 dark:hover:text-gray-400"
      data-tab="site-settings"
    >
      사이트 설정
    </button>
  </li>
  <li class="me-2 flex-none">
    <button
      class="inline-block rounded-t-lg px-4 py-3 hover:bg-gray-50 hover:text-gray-700 dark:hover:bg-gray-800 dark:hover:text-gray-400"
      data-tab="company-settings"
    >
      회사 설정
    </button>
  </li>
  <li class="me-2 flex-none">
    <button
      class="inline-block rounded-t-lg px-4 py-3 hover:bg-gray-50 hover:text-gray-700 dark:hover:bg-gray-800 dark:hover:text-gray-400"
      data-tab="access-settings"
    >
      접속 관리
    </button>
  </li>
  <li class="me-2 flex-none">
    <button
      class="inline-block rounded-t-lg px-4 py-3 hover:bg-gray-50 hover:text-gray-700 dark:hover:bg-gray-800 dark:hover:text-gray-400"
      data-tab="system-settings"
    >
      시스템 설정
    </button>
  </li>
</ul>
