<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 회사 이름 -->
    <title><%=company.name%></title>
    <!-- 폰트 -->
    <link rel="preload" href="/fonts/Pretendard-Regular.woff2" as="font" type="font/woff2" crossorigin />
    <!-- css -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/tailwind.css?202502081" />
    <link rel="stylesheet" href="/css/frontend/index.css?20250318" />
  </head>
  <body>
    <!-- 헤더, 네비게이션 -->
    <%- include('partials/header') %>
    <!-- 본문 -->
    <main class="min-h-[calc(100vh-217px)]"><%- body %></main>
    <!-- 푸터 -->
    <%- include('partials/footer') %>
  </body>
</html>
